*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #493e3e 100%);
    background-repeat: no-repeat;            
    background-position: center;  
    background-size: cover;  
    overflow-x: hidden; /* prevent sideways scrolling */  
}

.icon{
    display: flex;              /* make logo + menu side by side */
    align-items: center;        /* vertical alignment */
    gap: 100px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid white;  /* line underneath */
}

.logo{
    color: white;
    white-space: nowrap;
    font-size: 50px;
    font-family: 'Arial black';
    font-style: italic;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    white-space: nowrap;
    list-style: none;
    margin: 15px 0px 0px 100px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: 'georgia';
    font-weight: bold;
}

ul li a:hover{
    color: rgb(207, 207, 204);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 100vw;
    height: auto;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

.content .par{
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    margin-top: 100px;
    right: 600px;
}

.form{
    width: 250px;
    height: 200px;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.5)50%, rgb(0, 0, 0, 0.5)50%);
    position: absolute;
    left: 900px;
    margin-top: 80px;
    border-radius: 15px;
    padding: 30px;
}


.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(49, 49, 49);
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 30px;
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.form button{
    display: inline-block;       /* makes it look like a button */
    padding: 10px 20px;          /* spacing inside */
    margin-top: 40px;
    margin-left: 60px;
    background-color: rgb(49, 49, 49);   /* primary color */
    color: white;                /* text color */
    text-decoration: none;       /* remove underline */
    border-radius: 5px;          /* rounded corners */
    font-weight: bold;           /* bold text */
    transition: background 0.3s; /* smooth hover effect */
}

.form button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s ease;
}

.button:hover{
    background-color: black;
}

.btn-primary{
  display: inline-block;       /* makes it look like a button */
  padding: 10px 20px;          /* spacing inside */
  background-color: white;   /* primary color */
  color: rgb(49, 49, 49);                /* text color */
  text-decoration: none;       /* remove underline */
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 5px;          /* rounded corners */
  font-weight: bold;           /* bold text */
  transition: background 0.3s; /* smooth hover effect */
}

.footer-text{
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}