<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iwali's Website</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="icon">
            <h2 class="logo">Iwali's Blog</h2>
               
            <div class="menu">
               <ul>
                   <li><a href="{% url 'fiction' %}">Fiction</a></li>
                   <li><a href="{% url 'truecrime' %}">True Crime</a></li>
                   <li><a href="{% url 'my_corner' %}">My Corner</a></li>
               </ul>
            </div>  
        </div>

        <div class="content">
            <div class="intro">
               <h1>Exploring the crimes we fear <br>and the stories we crave.</h1>
               <p class="par">Chilling true crime stories that expose the darkest sides of human nature and <br>
                 <span>crafted tales that invite you to explore lives, emotions, and the many layers of identity.</span>
                 <br>Welcome to the blurred edge of truth and imagination.
               </p>
            </div>
             <div class="form">
                <h2>Subscribe for Updates</h2>
                <form method="post">
                  {% csrf_token %}
                  {{ form.email }}
                  <button type="submit">Subscribe</button>
                </form>  
            </div>
        </div>
            <footer>
                <p class="footer-text">&copy; 2025 True Crime. All rights reserved.</p>
            </footer>
    </body>
</html>