<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Iwali's Website</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
    <main>
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Iwali Writes</h2>
                </div>
               
                <div class="menu">
                    <ul>
                        <li><a href="MyCorner.html">MY CORNER</a></li>
                        <li><a href="fiction.html">FICTION</a></li>
                        <li><a href="truecrime.html">TRUE CRIME</a></li>
    
                    </ul>
                </div>

                <div class="content">
                    <h1>Exploring the crimes we fear <br>and the stories we crave.</h1>
                    <p class="par">Chilling true crime stories that expose the darkest sides of human nature and <br>
                        <span>crafted tales that invite you to explore lives, emotions, and the many layers of identity.</span>
                        <br>Welcome to the blurred edge of truth and imagination.
                    </p>

                    <div class="form">
                        <h2>Subscribe Here</h2>
                        <input type="email" name="email" placeholder="Enter Email Here">
                        <button class="btn"><a href="#">Subscribe</a></button>

                        <p class="cwm">Connect With Me</p>

                        <div class="icon">
                            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <footer>
                   <p class="footer-text">&copy; 2023 True Crime. All rights reserved.</p>
                </footer>

            </div>
    </body>
</html>