<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Corner</title>
        <link rel="stylesheet" href="corner.css">
    </head>
    <body>
        <div class="main">
            <div class="navbar"></div>
              <div class="content">
                  <div class="icon">
                
                     <div class="writeup">
                        <h2>Hi, I'm Iwali.....</h2>
                        <p class="about">A place to share my thoughts and stories.</p>
                      </div>

                      <div class="phone">
                        <div class="screen">
                          <img src="c:\Users\ADMIN\Pictures\new.jpg" alt="Inside phone" />
                        </div>
                      </div>
                  </div>

                  <div class="latest">
                     <button class="btn"><a href="#">View Latest Post</a></button>
                  </div>    
              </div>
            </div>
        </div>
    </body>